.infinteCarousel .swiper-wrapper {
    transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    -webkit-transition-timing-function: linear !important;
}
